*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/functions/
google_geocode_api.xml
google_maps_api.xml
/app/src/debug/res/values/google_maps_api.xml
/app/google-services.json
**/function_formatted_address_url.xml
/firebase.json
/.firebaserc
proguard-rules.pro
app/google-services.json
