*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
google_geocode_api.xml
google_maps_api.xml
google-services.json
function_formatted_address_url.xml
/functions/
firebase.json